@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* header */
header {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: #ec715f;
}

.header-nav {
  display: flex;
  height: 70px;
  width: 1024px;
}

#logo {
  height: 70px;
}

img {
  width: 156px;
  height: 70px;
}

nav {
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
}

.nav-bar {
  list-style: none;
  display: flex;
  justify-content: center;
  height: 70px;
}

.nav-list {
  font-size: 16px;
  padding: 0 30px;
  line-height: 70px;
}

a {
  text-decoration: none;
  color: #fafafa;
}
/* LoremIpsum */
#lorem-ipsum {
  width: 100%;
  height: 650px;
  background-image: url("../img/mv.png");
  background-size: cover;
  background-position: center;
}

.lorem-ipsum-container {
  width: 1024px;
  height: 336px;
  margin: 0 auto auto auto;
  padding-top: 200px;
  text-align: center;
}

.lorem-ipsum-title {
  font-size: 64px;
  color: #fafafa;
  margin: 10px;
}

.lorem-ipsum-text {
  font-size: 20px;
  color: #fafafa;
}
/* Portfolio */
#portfolio-view {
  width: 100%;
  height: auto;
  background-color: #eceff1;
  padding: 90px 0 85px 0;
}

.port-folio-container {
  width: 920px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  color: #000000;
  text-align: center;
  padding-bottom: 8px;
}

.under-bar {
  background-color: #ec715f;
  width: 70px;
  height: 3px;
  margin: 0 auto;
}

.port-folio-text {
  text-align: center;
  margin: 25px auto;
  font-size: 16px;
  color: #000000;
}

.img-group {
  display: flex;
  flex-wrap: wrap;
}

.image {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 250px;
}

.image:nth-child(1) {
  background-image: url("../img/sketch.jpg");
  background-size: cover;
  background-position: center;
}

.image:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("../img/websuku.png");
  background-size: cover;
  background-position: center;
}

.image:nth-child(3) {
  background-image: url("../img/write.jpg");
  background-size: cover;
  background-position: center;
}

.image:nth-child(4) {
  background-image: url("../img/webcamp.png");
  background-size: cover;
  background-position: center;
}

.image:nth-child(5) {
  background-image: url("../img/talk.jpg");
  background-size: cover;
  background-position: center;
  margin-left: 10px;
  margin-right: 10px;
}

.image:nth-child(6) {
  background-image: url("../img/webcamp-mother.png");
  background-size: cover;
  background-position: center;
}
/* Feature */
#feature-view {
  width: 100%;
  padding: 90px 0;
}

.feature-container {
  width: 980px;
  height: auto;
  margin: 0 auto;
}

.feature-text {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 30px 0;
}

.strength-group {
  margin: 0 auto;
  display: flex;
  flex: auto;
}

.strength-box {
  width: 320px;
  height: auto;
}

.strength-box:nth-child(2) {
  margin: 0 10px;
}

.icon {
  margin: 0 auto;
  width: 60px;
  height: 60px;
}

.fa-large {
  font-size: 60px;
}

.strength-title {
  font-size: 20px;
  color: #000000;
  margin: 10px auto;
  text-align: center;
}

.strength-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}
/* Profile */
#profile-view {
  width: 100%;
  height: auto;
  background-color: #eceff1;
  display: flex;
  justify-content: center;
  padding: 90px;
}

.profile-container {
  width: 980px;
}

.profile-text {
  text-align: center;
  margin: 30px auto;
}

.profile-group {
  width: 1024;
  height: auto;
  display: flex;
}

.profile-left {
  width: 512px;
  height: auto;
}

.profile-right {
  width: 512px;
  height: auto;
}

.photo {
  background-image: url(../img/my-icon.jpg);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 5px auto;
}

.introduction-title {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: left;
}

.introduction {
  font-size: 16px;
  margin-bottom: 20px;
  color: #000000;
  text-align: left;
}
/* Contact */
#contact-view {
  width: 100%;
  height: auto;
}

.contact-container {
  padding: 90px 0;
  margin: 0 auto;
  width: 800px;
  height: auto;
}

.contact-text {
  margin: 30px auto;
  text-align: center;
  font-size: 16px;
  color: #000000;
}

.contact-group {
  width: 800px;
  height: auto;
  display: flex;
}

.contact-left {
  width: 400px;
  height: auto;
  display: block;
}

.left-content {
  width: 200px;
  margin: 0 auto;
  padding-bottom: 5px;
  font-size: 20px;
  text-align: left;
}

.content-link {
  width: 200px;
  margin: 0 auto 20px auto;
  text-align: left;
}

.contact-right {
  width: 400px;
  height: auto;
  text-align: center;
}

.sns {
  width: 200px;
  margin: 0 auto;
  font-size: 20px;
  text-align: left;
}

.sns-icon-group {
  width: 200px;
  margin: 0 auto;
  display: flex;
}

.sns-icon {
  width: 50px;
  height: 50px;
  padding: 0 5px;
}

.sns-icon:nth-child(2) {
  margin: 0 15px;
}

.fa-middle {
  font-size: 50px;
}
/* footer */
footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
  line-height: 60px;
}

.copyright {
  font-size: 16px;
  color: #fafafa;
  text-align: center;
}
/* レスポンシブ */
@media screen and (max-width: 767px) {
  /* header */
  header {
    width: 100%;
    height: 50px;
  }

  .header-nav {
    width: 90%;
  }

  #logo {
    height: 50px;
  }

  img {
    height: 50px;
    width: 130px;
  }

  .nav-bar {
    display: none;
  }
  /* menu */

  /* LoremIpsum */
  .lorem-ipsum-container {
    width: 90%;
    height: 650px;
    padding-top: 200px;
  }

  .lorem-ipsum-title {
    font-size: 40px;
    color: #fafafa;
    padding-bottom: 10px;
  }

  .lorem-ipsum-text {
    font-size: 18px;
    color: #fafafa;
  }
  /* Portfolio */
  .port-folio-container {
    width: 90%;
    padding: 90px 0 75px 0;
  }

  .title {
    font-size: 32px;
    color: #000000;
    margin-bottom: 8px;
  }

  .under-bar {
    height: 3px;
    width: 70px;
    color: #ec715f;
  }

  .port-folio-text {
    font-size: 16px;
    color: #000000;
    padding: 30px 0 25px 0;
  }

  .img-group {
    display: block;
    justify-content: center;
  }

  .image:nth-child(even) {
    width: 300px;
    height: 250px;
    margin: 5px auto;
  }

  .image:nth-child(odd) {
    display: none;
  }

  /* Feature */
  .feature-container {
    width: 90%;
  }

  .feature-text {
    font-size: 16px;
    color: #000000;
    margin: 30px auto 20px auto;
  }

  .strength-group {
    display: block;
  }

  .strength-box {
    margin: 10px auto;
  }

  .fa-large {
    font-size: 60px;
  }

  .strength-title {
    font-size: 20px;
    margin: 20px auto 10px auto;
  }

  .strength-text {
    text-align: left;
  }

  .strength-text {
    padding: 0 auto 10px auto;
  }
  /* Profile */
  .profile-container {
    width: 90%;
    padding: 90px;
  }

  .profile-text {
    font-size: 16px;
    padding: 30px 0;
  }

  .profile-group {
    display: block;
  }

  .profile-left {
    width: auto;
    margin: 0 auto;
  }

  .photo {
    margin: 0 auto;
  }

  .profile-right {
    width: auto;
    margin: 0 auto;
  }

  .introduction-title {
    font-size: 20px;
    margin: 20px auto 5px auto;
    text-align: center;
  }

  .introduction {
    font-size: 16px;
    text-align: center;
  }
  /* contact */
  .contact-container {
    width: 90%;
    padding: 90px auto;
  }

  .contact-text {
    margin: 30px auto;
    text-align: center;
  }

  .contact-group {
    display: block;
  }

  .contact-left {
    width: auto;
    margin: 0 auto;
  }

  .left-content {
    width: 100px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto 5px auto;
    display: block;
    }

  .content-link {
    color: #000000;
    margin: 0 auto 20px auto;
    text-align: center;
  }

  .contact-right {
    width: auto;
  }

  .sns {
    width: auto;
  }

  .sns-title {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
  }

  .sns-icon-group {
    width: 100%;
    margin: 0 auto;
  }
}
/* footer */
footer {
  height: 60px;
}